projects/jboss-brms-testing/brms-testing-web/src/main/xsd/package.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="packages">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="package" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:anyURI" name="assets" maxOccurs="unbounded" minOccurs="0" />
                            <xs:element type="xs:anyURI" name="binaryLink" />
                            <xs:element type="xs:string" name="checkInComment" />
                            <xs:element type="xs:string" name="description" />
                            <xs:element name="metadata">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="archived" />
                                        <xs:element type="xs:dateTime" name="created" />
                                        <xs:element type="xs:string" name="lastContributor" />
                                        <xs:element type="xs:dateTime" name="lastModified" />
                                        <xs:element type="xs:string" name="state" />
                                        <xs:element type="xs:string" name="uuid" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element type="xs:anyURI" name="sourceLink" />
                            <xs:element type="xs:string" name="title" />
                            <xs:element type="xs:byte" name="version" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
